<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
    <div th:replace="layout/layout_admin :: content">
        <h2>Add/Edit Category</h2>
        <form th:action="@{/admin/categories/save}" method="post">
            <input type="hidden" th:value="${category.isEdit}" name="isEdit">
            <input type="hidden" th:value="${category.id}" name="id">
            
            <label>Category Name</label>
            <input type="text" th:value="${category.name}" name="name"><br>
            <label>Images</label>
            <input type="text" th:value="${category.images}" name="images"><br>
            <label>Status</label>
            <input type="text" th:value="${category.status}" name="status"><br>
            
            <div th:if="${category.isEdit}">
                <input type="submit" value="Update">
            </div>
            <div th:if="${!category.isEdit}">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
</body>
</html>
